*.iml
out/
*.class
classes/
gen/
proguard.cfg
*.bak
.idea/
local.properties
project.properties
proguard.cfg
.classpath
.cproject
.project
*.protobin
target/
log/
*.log
log/
obj/
*.rc
*.kpr
*.rcc
/logs/
